{{#each items}}
    <div data-code="{{code}}" class="block_a index_content_item caseList">
        <div class="am-flexbox am-flexbox-align-top">
            <div class="item_img"><img src="{{formatListImage advPic}}"></div>
            <div class="item_content am-flexbox am-flexbox-justify-between am-flexbox-dir-column am-flexbox-align-top">
                <div class="item_title t-3dot">{{name}}</div>
                <div class="item_infos clearfix">
                    <div class="item_info t_f14e4f">{{quoteMin}}-{{quoteMax}}</div>
                </div>
                <div class="item_stars">
                    <span class="star_title">{{formateCNDate publishDatetime}}</span>
                    <span class="stars"></span>
                </div>
            </div>
        </div>
    </div>
{{/each}}
