<div class="comp_top_infos">
    <div class="am-flexbox am-flexbox-justify-between am-flexbox-align-top">
        <div class="comp_title">{{name}}</div>
        <div id="btn-negotiate" data-code="{{code}}" class="am-button am-button-red am-button-small am-button-inline">
            <span>洽谈</span>
        </div>
    </div>
    
    <div class="comp_infos clearfix">
        <div class="comp_info t_f14e4f">{{quoteMin}}-{{quoteMax}}</div>
    </div>
    
    <div class="comp_stars">
        <span class="star_title">{{formateCNDate publishDatetime}}</span>
    </div>
</div>
