{{#each items}}
    <a href="../home/company.html?code={{code}}" class="block_a index_content_item">
        <div class="am-flexbox am-flexbox-align-top">
            <div class="item_img"><img src="{{formatListImage logo}}"></div>
            <div class="item_content am-flexbox am-flexbox-justify-between am-flexbox-dir-column am-flexbox-align-top">
                <div class="item_title t-3dot">{{name}}</div>
                <div class="item_infos clearfix">
                    <div class="item_info">{{corporation}}</div>
                    <div class="item_info">{{registeredCapital}}万</div>
                    <div class="item_info">成立{{regtime}}年</div>
                </div>
                <div class="item_stars">
                    <span class="star_title">关注人数</span>
                    <span class="stars">{{gzNum}}</span>
                </div>
            </div>
        </div>
    </a>
{{/each}}
