{{#each items}}
    <div class="b_e6_b notice_wrap">
	    <div class="notice_icon"><img src="/static/images/消息@2x.png"/></div>
	    
	    <div class="notice_con">
	        <div>
	        	<div class="notice_title">{{smsTitle}}</div>
	        	<div class="notice_time"  style="color: #999999">{{formateDate updateDatetime}}</div>
	    	</div>
	        <div class="notice_txt fs28 mt10">{{smsContent}}{{smsContent}}{{smsContent}}{{smsContent}}{{smsContent}}{{smsContent}}</div>
	    </div>
	</div>
{{/each}}
